<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:p="http://www.springframework.org/schema/p" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 

<bean id="studentbean1" class="com.example1.ST1.Student"> 
<property name="name">
<value> abb</value>
</property>

</bean> 
<bean id="studentbean2" class="com.example1.ST1.Student">
<property name="name" value="qwe"></property>
<property name="age" value="23"></property>
</bean>

<bean id="studentbean3" class="com.example1.ST1.Student">
<property name="name" value="avb"></property>

</bean>
</beans> 
